## Funções

In [111]:
#Como contar caracteres:
len('quantos caracteres?')

19

In [112]:
#Função para transformar celcius em farenheint
def celc_far (temperatura):
    temp = (temperatura * 1.8) + 32
    return temp

In [113]:
#Calculando temp farenheint:
celc_far(19)

66.2

## Listas

In [114]:
#Listas
presidentes_pos_ditadura = ['Tancredo','Sarney', 'Collor', 'Itamar', 'FHC', 'Lula', 'Dilma', 'Temer', 'Bolsonaro']

#Para inserir novos itens a lista atual
presidentes_pos_ditadura.append('Próximo(a)')

#O comando insere itens ao fim da lista

In [115]:
#Como Tancredo nunca assumiu o cargo, vamos removê-lo da lista
presidentes_pos_ditadura.remove('Tancredo')

In [116]:
#Para descobrir se determinado presidente pertence a lista, basta:

'Collor' in presidentes_pos_ditadura

#O valor retornado informa se o valor procurado pertence a lista

True

## Índices e Slicing de listas

In [117]:
#Os índices indicam a posição de determinados objetos numa lista.
#Os índices no Python começam em 0 (primeiro item)

batman = 'Batman'
batman[0] #Mostra a primeira letra da variável

#0 1 2 3 4 5
#B a t m a n

'B'

In [118]:
#Para indicar a última letra, podemos mostrar o índice contando de trás para frente:
batman [-1]

'n'

In [119]:
#Índices em Listas:

frutas_vit_c= ['Limão', 'Acerola', 'Laranja', 'Maracunjá', 'Tangerina']

frutas_vit_c[0] #Indica a primeira fruta da lista

'Limão'

In [120]:
#E se quisermos extrair mais de um item da lista?

presidentes_pos_ditadura [0:3] #Mostra os itens desde o início da lista até a terceira posição

#O número 3 indica a quarta posição, porém esse índice será excluído do slice

['Sarney', 'Collor', 'Itamar']

In [121]:
#Se omitirmos o primeiro índice, a lista será mostrada a partir do início da lista até a posição informada
presidentes_pos_ditadura[:3]

['Sarney', 'Collor', 'Itamar']

In [122]:
#Se omitirmos o último índice, a lista será apresentada desde o primeiro índice até o fim da lista
presidentes_pos_ditadura[3:]

['FHC', 'Lula', 'Dilma', 'Temer', 'Bolsonaro', 'Próximo(a)']

In [123]:
#Ao omitir ambos os índices, a lista será mostrada do início ao fim
presidentes_pos_ditadura[:]

['Sarney',
 'Collor',
 'Itamar',
 'FHC',
 'Lula',
 'Dilma',
 'Temer',
 'Bolsonaro',
 'Próximo(a)']

## Dicionários

In [124]:
#Os dicionários são similares as listas, porém podemos ter índices literais

filme0 = {'nome': 'Matrix', 'genero': 'Ação', 'ano' : '1999'}

In [125]:
print(filme0) #Este comando traz exatamente o que foi inserido no dicionário

{'nome': 'Matrix', 'genero': 'Ação', 'ano': '1999'}

In [126]:
#Vamos fazer um print formatado com esse dicionário
print(f'O filme {filme0["nome"]} é de {filme0["genero"]} e foi lançado em {filme0["ano"]}.')

O filme Matrix é de Ação e foi lançado em 1999.

In [127]:
#Também podemos mostrar apenas os itens, chaves ou valores desse dicionário
print(filme0.keys())
print(filme0.items())
print(filme0.values())

dict_keys(['nome', 'genero', 'ano'])
dict_items([('nome', 'Matrix'), ('genero', 'Ação'), ('ano', '1999')])
dict_values(['Matrix', 'Ação', '1999'])

##### Vamos trabalhar com listas e dicionários

In [128]:
#Vamos criar uma lista de filmes e incluir itens além de Matrix

lista_filmes = [] #Primeiro criaremos uma lista vazia

#Vamos criar alguns dicionários de filmes
filme1 = {'nome': 'Exterminador', 'genero': 'Ação', 'ano' : '1984'}
filme2 = {'nome': 'Rocky Balboa', 'genero': 'Luta/Drama', 'ano' : '1976'}
filme3 = {'nome': 'Poderoso Chefão', 'genero': 'Máfia', 'ano' : '1972'}
filme4 = {'nome': 'Star Wars', 'genero': 'Ação', 'ano' : '1977'}

In [129]:
#Agora iremos preencher a lista de filmes com os itens que acabamos de criar e Matrix, que já haviamos criado
lista_filmes.append(filme0)
lista_filmes.append(filme1)
lista_filmes.append(filme2)
lista_filmes.append(filme3)
lista_filmes.append(filme4)

In [130]:
#Agora temos todos os filmes numa lista
print(lista_filmes)

[{'nome': 'Matrix', 'genero': 'Ação', 'ano': '1999'}, {'nome': 'Exterminador', 'genero': 'Ação', 'ano': '1984'}, {'nome': 'Rocky Balboa', 'genero': 'Luta/Drama', 'ano': '1976'}, {'nome': 'Poderoso Chefão', 'genero': 'Máfia', 'ano': '1972'}, {'nome': 'Star Wars', 'genero': 'Ação', 'ano': '1977'}]

In [131]:
#Agora podemos acessar esses filmes através dos comandos de lista já usados anteriormente

print(lista_filmes[0])

{'nome': 'Matrix', 'genero': 'Ação', 'ano': '1999'}

In [132]:
#Bom, mas como eu transformo essa biblioteca num Data Frame do Pandas?

lista_filmes = pd.DataFrame(lista_filmes)

#Agora nossa lista passou a ser um Data Frame

In [133]:
#E se eu quiser ver apenas o nome dos filmes?

nome_filme = lista_filmes['nome']
display(nome_filme)

0             Matrix
1       Exterminador
2       Rocky Balboa
3    Poderoso Chefão
4          Star Wars
Name: nome, dtype: object

In [134]:
#Agora queremos verificar o nome e ano de lançamento dos filmes

nome_filme = lista_filmes[['nome', 'ano']]
display(nome_filme)

              nome   ano
0           Matrix  1999
1     Exterminador  1984
2     Rocky Balboa  1976
3  Poderoso Chefão  1972
4        Star Wars  1977

In [135]:
#Para mostrar infos de uma ou mais linhas do data frame

lista_filmes.loc[1:2]

           nome      genero   ano
1  Exterminador        Ação  1984
2  Rocky Balboa  Luta/Drama  1976

In [144]:
#O método loc é versátil e pode ser usado para consultas mais complexas.
#Para isso, vamos abrir um arquivo com diversas infos de produtos/vendas

tabela = pd.DataFrame(pd.read_excel("Vendas.xlsx"))
display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

#### Por enquanto é só. Vamos voltar a trabalhar com pandas nos próximos notebooks